<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <%- include("nadvar") %>
<h1 class="text-center mt-3">Posteos</h1>
    <a class="btn btn-dark mx-5" href="/posteos/paginapost" role="button">Crear nuevo posteo</a>
    <% allTasks.forEach((posteos_jesus) => { %>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3 text-center mt-3">
                <h5 class="card-title"><%= posteos_jesus.titulo %></h5>
            </div>
            <div class="col-md-3 mt-3">
                <p class="card-text"><%= posteos_jesus.contenido %></p>
            </div>
            <div class="col-md-2 mt-3">
                <a href="<%= posteos_jesus.url %>" target="_blank">Imagen del posteo</a>
            </div>
            <div class="col-md-2 mt-3">
                <p class="fw-light"><%= posteos_jesus.createdAt %></p>
            </div>
            <div class="col-md-2 mt-3">
                <a href="/posteos/editar/<%= posteos_jesus.id %>" class="btn btn-primary my-1">Editar</a>
                <a href="/posteos/eliminar/<%= posteos_jesus.id %>" class="btn btn-danger my-1">Eliminar</a>
            </div>
        </div>
    </div>
    <%}) %>
    
</body>

    <%- include("footer") %>
</body>
<script src="../js/bootstrap.min.js"></script>
</html>



