<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>                                                                                    
    <%- include("nadvar") %>
<h1 class="text-center mt-3">Posteo</h1>
<a class="btn btn-dark mx-5" href="/posteos" role="button">Volver a Lista de Posteos</a>
<%- include("titulos-del-posteo") %>
    <div class="container-fluid">
        <div class="row align-items-center mb-5 m-2">
            <div class="col-md-2 text-center mt-3 align-self-start ">
                <h5 class="card-title"><%= task.titulo %></h5>
            </div>
            <div class="col-md-4 mt-3 align-self-start">
                <p class="card-text"><%= task.contenido %></p>
            </div>
            <div class="col-md-2 mt-3 align-self-start">
                <a href="<%= task.url %>" target="_blank">Imagen del posteo</a>
            </div>
            <div class="col-md-2 mt-3 align-self-start">
                <p class="fw-light"><%= task.createdAt %></p>
            </div>
            <div class="col-md-2 mt-3 align-self-start">
                <a href="/posteos/editar/<%= task.id %>" class="btn btn-primary my-1">Editar</a>
                <a href="/posteos/eliminar/<%= task.id %>" class="btn btn-danger my-1">Eliminar</a>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
<body class="mb-5">
    <%- include("footer") %>
</body>
</html>